.friends-screen {
  background-color: var(--lightgray);
}
.friends-screen__profiles {
  margin: var(--horizontal-space);
  padding: var(--horizontal-space);
  border-radius: 20px;
  background-color: white;
}
.friends-screen__profiles__title {
  font-size: 25px;
  font-weight: 600;
}
.user-component {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-component__column {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--lightblue);
}
.user-component__text {
  margin-left: 10px;
  font-size: 18px;
}
.user-component__condition {
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid var(--blue);
  font-size: 13px;
}
