.friends-screen {
  background-color: var(--lightgray);
}
.friends-screen__profiles {
  margin: var(--horizontal-space);
  padding: var(--horizontal-space);
  border-radius: 20px;
  background-color: white;
}
.friends-screen__profiles__title {
  font-size: 25px;
  font-weight: 600;
}
