.alt-header {
  padding: var(--horizontal-space);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.alt-header__column {
  width: 33%;
  font-size: 20px;
}

.alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: end;
}

.alt-header__column:last-child i {
  margin-left: 15px;
}
