.badge {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  background-color: tomato;
  font-size: 12px;
  font-weight: 500;
}

.nav__link {
  position: relative;
  /* color: rgba(109, 62, 0, 0.2); */
}

@keyframes flyingAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 8px;
  animation: flyingAnimation 2s ease-in-out infinite;
}
