.nav__list {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  border-top: 0.3px solid lightgray;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  background-color: white;
}

.nav i.not-clicked {
  color: lightgray;
}
